body{
    background: linear-gradient(to top,#000000,rgb(5, 5, 46),rgb(5, 5, 82));
    margin: 0;
    border: 0;
    cursor: crosshair;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

h1{
    color:white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size:xxx-large;
    
}

h2{
    color:white;

}

P1{
    color: white;

}

.how{

    margin: 20px;

}

.what{
    margin: 20px;
}
.discription{
    margin: 20px;

}

.difficulties{
    margin: 20px;
}

