body{
    background: linear-gradient(to top,#000000,rgb(5, 5, 46),rgb(5, 5, 82));
    margin: 0;
    border: 0;
    cursor: crosshair;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}