body{
    background: linear-gradient(to top,#000000,rgb(5, 5, 46),rgb(5, 5, 82));
    margin: 0;
    border: 0;
    cursor: crosshair;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: xx-large;
}

.para{
    color: white;
    margin: 20px;
    margin-left: 20px;
    font-size: large;
    font-family: cursive;
    font-style: italic;
    
}