body{

    margin: 0;
    border: 0;
    background: linear-gradient(to top,#000000,rgb(5, 5, 46),rgb(5, 5, 82));
    cursor: crosshair;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}


.heading{
    display: flex;
    justify-content: center;
    color: white;
    font-family: monospace;
    margin: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    
}

h2{
    color: white;
    
}

p1{
    color: white;

}

.what{
    margin: 20px;
    margin-left: 20px;

}

.discription{
    margin: 20px;

}

.how{
    margin: 20px;
}
.whatifound{
    margin: 20px;

}

.whati{
    margin: 20px;
    
}