body{
    margin:0;
    background-color: #000000;
    background-image:     repeating-linear-gradient(0deg , rgba(51, 255, 0, 0.164)0px, rgba(74, 255, 2, 0.281)1px , transparent 1px , transparent 40px)
    ,repeating-linear-gradient(90deg , rgba(2, 255, 15, 0.178)0px, rgba(51, 255, 0, 0.24)1px , transparent 1px , transparent 40px);
    background-attachment: fixed;
    color: #06193d;
    
}

h1{
    color: white;

    margin: 20px;
    text-align: center;
    font-size: xxx-large;
    text-decoration: underline;


}
p{
    color: white;
    margin: 20px;
    font-size: large;
    text-align: center;
    font-family: monospace;
    
}

.pulse{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
    
    animation: random-glow 4s infinite ease-in-out;

    
    
    background: radial-gradient(circle , rgba(0,225,102,0.35)0%, transparent 70%);
}

.p1{
    top: 20%;
    left: 15%;
    animation-delay: 0.5s;
    animation-duration: 4.5s;

}

@keyframes random-glow {

    0% , 100% {opacity: 0; transform: scale(1.2);}
    50%{
        opacity: 1; transform: scale(1.2);

    }
    70% {opicity: 0.2; transform: scale(1.2);}

}

.p2{
    top: 65%;
    left: 75%;
    animation-delay: 2.1s;
    animation-duration: 3,2s;
}

.p3{
    top: 40%;
    left: 50%;
    animation-delay: 2.1s;
    animation-duration: 3,2s;
}